<!DOCTYPE html>
<html lang="en">
<head>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-2978WV68T5"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-2978WV68T5');
</script>
{% include head.html %}
{% include seo.html %}
</head>
<body>
{% include nav.html %}
{% include mobile-nav.html %}
<main>
{{ content }}
</main>
{% include footer.html %}
<script src="{{ '/js/app.js' | relative_url }}"></script>
</body>
</html>
